{% extends "layout/layout.html.twig" %}

{% block main %}
<div class="container">
    <h1>{% trans "Store view mapping" %}</h1>
	<p>
		{% trans %}
		Magento manages multiple store views per installation, each configured to have a single locale. JTL-Wawi only stores language information. As the connector cannot know by itself in which store view it has to put certain products, you have to specify the JTL-Wawi language each store view represents.<br>We have already created a reasonable suggestion based on the locale information Magento has. Feel free to adapt it to your needs.
		{% endtrans %}
	</p>
    <form class="form-horizontal" method="post">
        <input type="hidden" name="action" value="map_storeview">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>{% trans "Magento website" %}</th>
					<th>{% trans "Store view" %}</th>
					<th>{% trans "Magento locale" %}</th>
					<th>{% trans "Respective JTL-Wawi language" %}</th>
				</tr>
			</thead>
			<tbody>
			{% for website in websites %}
				{% for store in stores[website.id] %}
				{% set store_locale_name = available_locales[locales[store.id]] %}
				<tr>
					<td>{{ website.name }}</td>
					<td>{{ store.name }} ({{ store.code }})</td>
					<td>{% trans store_locale_name %}</td>
					<td>
						<select name="locale[{{ store.id }}]">
							<option value="">{% trans "Not used" %}</option>
						{% for locale,name in available_locales %}
							<option value="{{ locale }}"{% if selected_locales[store.id] == locale %} selected{% endif %}>{% trans name %}</option>
						{% endfor %}						
						</select>
					</td>
				</tr>
				{% endfor %}
			{% endfor %}
			</tbody>
		</table>

        <button type="submit" class="btn btn-primary">{% trans "Continue" %}</button>
    </form>
</div>
{% endblock %} 
